$font-primary: 'Aleo', serif;
$font-secondary: 'Josefin Sans', sans-serif;
$fsize-primary: 14px;
$fsize-title: 20px;
$fsize-title-large: 36px;
$fsize-text: 16px;
$weight-regular: 400;
$weight-bold: 700;
$uppercase: uppercase;
$capitalize: capitalize;
$color-basic: #fff;
$color-primary: #5474fd;
$color-secondary: #999;
$color-bgr: #333;
$color-block:#353535;
$color-footer: #232323;

$tablet-screen-width: 768px;
$phablet-screen-width: 700px;
$mobile-screen-width: 500px;