@font-face {
    font-family: "Raleway-Regular", sans-serif;
    src: url(./fonts/Raleway-Regular.ttf;)
}

@font-face {
    font-family: "Raleway - Heavy", sans-serif;
    src: url(./fonts/Raleway-Heavy.ttf);
}

@font-face {
    font-family: "Raleway - Bold";
    src: url(./fonts/Raleway-Bold.ttf);
}

@font-face {
    font-family: "Raleway - Light";
    src: url(./fonts/Raleway-Light.ttf);
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 1500px;
    height: 864px;
    background-color: #b07cf7;
}

.container {
    margin: 100px auto 118px;
    text-align: center;
    width: 1200px;
    /* font-family: "Raleway-Regular", sans-serif;*/
}

header {
    width: 600px;
    margin: auto;
}

header>h1 {
    color: #fff;
    font-size: 90px;
    font-weight: 700;
    line-height: 25px;
    font-family: "Raleway - Bold";
}

header>p {
    color: #fff;
    font-size: 17px;
    font-weight: 300;
    line-height: 25px;
    margin-top: 45px;
    font-family: "Raleway - Light";
}

.gallery {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
}

.nourishment {
    width: 370px;
    height: 310px;
    position: relative;
}

.date {
    width: 60px;
    height: 60px;
    background-color: #262626;
    opacity: 0.8;
    border-radius: 5px;
    position: absolute;
    top: 30px;
    left: 30px;
}

.date>p {
    color: #ffffff;
    line-height: 25px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    font-family: "Raleway-Regular", sans-serif;
}

.date>p:nth-of-type(1) {
    font-size: 32px;
    padding: 5px;
}

.date>p:nth-of-type(2) {
    font-size: 21px;
}

.nourishment>p {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    line-height: 25px;
    text-align: left;
    position: absolute;
    bottom: 52px;
    left: 15px;
}

.nourishment>address {
    color: #fff;
    font-style: normal;
    font-size: 13px;
    font-weight: 300;
    position: absolute;
    bottom: 22px;
    left: 15px;
}

button {
    width: 200px;
    height: 55px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    border: none;
    background-color: #f72b3b;
    color: #fff;
    font-size: 20px;
    font-weight: 300;
    line-height: 25px;
    text-transform: uppercase;
    margin-top: 90px;
    font-family: "Raleway - Light";
}

button:hover {
    cursor: pointer;
    transform: scale(1.3);
    transition-duration: 1.3s;
}